<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="shortcut icon" href="http://jazzihomestay.com/wp-content/uploads/2015/08/Airbnb_Logo_B%C3%A9lo.svg_.png"  />
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="/angularjs/paymentController.js"></script>
</head>


<body ng-controller="paymentController" ng-app="payment" style="background-color: white; background-image: none;">
<nav class="navbar navbar-default" style="background-color:white; ">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<a class="navbar-brand" href="/api/auth/home" ><img src="/images/airbnb-logo.png" width="100" height="70" style="margin-top:-25px;margin-left:-30px"></img></a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
			<form class="navbar-form navbar-left" style="border-left:solid;border-width:0.5px;border-color:#D3D3D9">
				<div class="form-group">
					<input type="text" placeholder="Where to?" style="background-color:transparent;border-color:transparent;width:450px "><span class="glyphicon glyphicon-search" style="margin-left:5px"></span></input>
				</div>
				<button type="submit" class="btn btn-default" style="background-color:transparent;border:solid;border-color:#c4c4c4;margin-left:20px " ng-click="search()">Search</button>
				<button type="submit" class="btn btn-default" style="background-color:transparent;border:solid;border-color:#c4c4c4;margin-left:20px;width:200px" ><a href = "/host" title = "You could earn $539 sharing your home in San Jose in a week. Become a host."> Become a host</a></button>
				<button type="submit" class="btn btn-default" style="background-color:transparent;border-color:transparent;margin-left:40px;"><a href="/api/profile/myTrips" title = "shows your trip">Trips</a><span class="glyphicon glyphicon-lock" style="margin-left:10px"></span></button>
				<button type="submit" class="btn btn-default" style="background-color:transparent;border-color:transparent;margin-left:30px;" ng-click="messages()">Messages<span class="glyphicon glyphicon-envelope" style="margin-left:10px"></span></button>

			</form>

			<ul class="nav navbar-nav navbar-right" style="margin-top:1px">
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">user <span class="caret"></span></a><!--Add first Name-->
					<ul class="dropdown-menu">
						<li><a href="/api/auth/logout">Logout</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</nav>
	<div style="margin-top:50px">
	<div class="col-sm-3"></div>
	<div class="col-sm-6">
		<div class="panel panel-default" style="width:100%;">
			<div class="panel-heading" style="height:80px">
				<div class="col-sm-12">
					<div class="col-sm-6" style="margin-top:15px"><font style="font-size:18px;margin-top:10px;"><b>Payment Details</b></font></div>
					<div class="col-sm-6"><img src="/images/card.jpg" height="50px" style="float: right;"></img></div>
				</div>
			</div>
			<div class="panel-body">

				<div class="col-sm-12" style="margin-top:10px">
					<label class="control-label col-sm-4" for="cNumber" style="margin-bottom:10px">Card Number</label>
					<div class="col-sm-8">
						<input type="number" class="form-control" id="cNumber"  ng-model="cNumber" style="margin-bottom:10px" placeholder="Card Number">
					</div>
					<label class="control-label col-sm-4" for="cvv" style="margin-bottom:10px">CVV number</label>
					<div class="col-sm-8">
						<input type="password" class="form-control" id="cvv"  ng-model="cvv" style="margin-bottom:10px" placeholder="CVV Number">
					</div>
					<label class="control-label col-sm-4" for="expDate" style="margin-bottom:10px">Expiration Date(YYYY-MM)</label>
					<div class="col-sm-8">
						<input type="month" class="form-control" id="expDate"  ng-model="expDate" style="margin-bottom:10px">
					</div>
				</div>
				<div class="col-sm-12">
					<% if(flow == "e") { %>
					<div class="col-sm-12"> <label  style="font-size:normal; font-weight: bold font-family: Helvetica neue,Helvetica,Arial,Sans-serif; font-size: 16px"><b>Amount:</b> <font style="float:right">$<%=diff%></font></label></div>
					<% }else if(flow == "b") { %>
					<div class="col-sm-12"> <label  style="font-size:normal; font-weight: bold font-family: Helvetica neue,Helvetica,Arial,Sans-serif; font-size: 16px"><b>Amount:</b> <font style="float:right">$<%=amount%></font></label></div>
					<% }else { %>
					<div class="col-sm-12"> <label  style="font-size:normal; font-weight: bold font-family: Helvetica neue,Helvetica,Arial,Sans-serif; font-size: 16px"><b>Amount:</b> <font style="float:right">$<%=data.total%></font></label></div>
					<%}%>
				</div>
				<% if(flow != "e" && flow != "b") { %>
				<div style="display: none;">
					<input type="text" ng-init="start_date=<%=data.start_date%>" id ="start_date" name ="start_date" class="form-control" ng_model = "start_date" value ="<%=data.start_date%>" >
					<input type="text" id ="end_date" class="form-control" ng_model = "end_date" value ="<%=data.end_date%>" >
					<input type="text" id ="property_id" class="form-control" ng_model = "property_id" value ="<%=data.property_id%>" >
					<input type="text" id ="description" class="form-control" ng_model = "description" value ="<%=data.description%>" >
					<input type="text" id ="host_id" class="form-control" ng_model = "host_id" value ="<%=data.host_id%>" >
					<input type="text" id ="city" class="form-control" ng_model = "city" value ="<%=data.city%>" >
					<input type="text" id ="state" class="form-control" ng_model = "state" value ="<%=data.state%>" >
					<input type="text" id ="country" class="form-control" ng_model = "country" value ="<%=data.country%>" >
					<input type="text" id ="guests" class="form-control" ng_model = "guests" value ="<%=data.guests%>" >
					<input type="text" id ="total" class="form-control" ng_model = "total" value ="<%=data.total%>" >
					<input type="text" class="form-control" name = "flow" value ="<%=data.flow%>" style="display: none;">
				</div>
				<% } %>
				<div class="box-footer">
					
					<% if(flow == "b") { %>
					<div class="pull-right">
						<input type="submit" class="btn btn-primary" ng-click="payBidAmount(<%=trip_id%>,<%=amount%>);" name="submit" id="submit"  class="form-control btn btn-primary" value="Make Payment">
					</div>
					<% }else if(flow == "e"){ %>
					<div class="pull-right">
						<input type="submit" class="btn btn-primary" ng-click="payDiff();" name="submit" id="submit"  class="form-control btn btn-primary" value="Make Payment">
					</div>
					<% }else { %>
					<div class="pull-right">
						<input type="submit" class="btn btn-primary" ng-click="submit();" name="submit" id="submit"  class="form-control btn btn-primary" value="Make Payment">
					</div>
					<%}%>
					
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-3"></div>

	</div>
</body>
</html>